body {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  background-color: #FFFCFF;
  }
  /*//////////////////////// NAVBAR CSS START //////////////////////////////*
  /* navbar container */
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    padding: 40px 30px 30px 30px;
    /* margin-left: 400px; */
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .navbar-items a {
    margin-top: 10px;
  }
  
  /* Used to be the old title but switched to icon now */
  /* .title {
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    position: absolute;
    left: 30px;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0.3rem #000;
  } */
  
  #title-img {
    width: calc(30% + 0.390625vw);
    max-width: 560px;
    height: auto;
    position: absolute;
    left: 30px;
    top: 15px;
  }
  @media screen and (max-width: 500px){
    #title-img{
    width: 200px;
    left: 15px;
    }}
  
  
  /* navbar buttons */
  a {
    border-radius: 10px;
    border: none;
    font-family: Nunito, sans-serif;
    font-weight: 650;
    color: #000000;
    font-size:calc(10px + 0.5vw);
    padding: 0.6em 0.9em ;
    background: #ffffff;
    text-decoration: none;
    cursor: pointer;
    margin: auto 10px auto 10px;
  }
  
  /* Navbar hover effect */
  a:hover {
    background-color: rgb(4, 4, 4);
    border-color: rgb(200, 200, 200);
    color: #fff;
  }
  
  
  /*//////////////////////// NAVBAR CSS END //////////////////////////////*/
  
  
  
  /*//////////////////////// HAMBURGER CSS START //////////////////////////////*/
  
  .container {
  display: none;
  }
  
  .hamburger-menu {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 2rem;
  right: 5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  }
  
  .line {
  width: 100%;
  height: 0.2rem;
  background-color: white;
  box-shadow: 0.1rem 0.2rem rgba(0,0,0,0.2);
  }
  
  .sidebar {
  width: 15rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: white;
  transition: right 0.5s;
  z-index: 1;
  }
  
  .change .sidebar {
  right: 0;
  }
  
  .menu {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  list-style: none;
  min-width: 200px;
  }
  
  .menu-item {
  text-align: center;
  }
  
  .menu-link {
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  color: black;
  }
  /*//////////////////////// HAMBURGER CSS END //////////////////////////////*/
  
  /*//////////////////////// MEDIA QUERIES CSS START //////////////////////////////*/
  /* Media query to show the hamburger menu on small screens */
  @media screen and (max-width: 995px) {
    /* Hide regular navbar links */
    .navbar a {
      display: none;
    }
  
    /* #title-img {
      display: none;
    } */
  
    /* Show hamburger menu button */
    .container {
      display: block;
    }
    @media screen and (max-width: 700px){
      .hamburger-menu {
     
      top: 1.5rem;
      right: 3rem;
     
  }}
  @media screen and (max-width: 360px){
    .hamburger-menu {
   
    top: 1rem;
    right: 2rem;
    width: 1.5rem;
    height: 1.5rem;
   
  }}
  
    /* Show menu on hover, commented out over preferential button click event
    .navbar .menu-button:hover + .menu,
    .navbar .menu-button:focus + .menu {
      display: block;
    } */
  
  
  }
  /*//////////////////////// MEDIA QUERIES CSS END //////////////////////////////*/
  
  #title-img {
    width: calc(320px + 0.390625vw);
    max-height: 120px;
    display: flex;
    max-width: 560px;
    margin-top: 0;
    position: absolute;
    top: 0;
}

p{
  margin-top: 50px;
  display: block;
  padding: 10px;
}
  button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgb(128, 128, 128);
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  
  #header {
    padding: 10px;
    color: #6e04a3;
    font-size: calc(15px + 0.5vw);
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:#d9b8e8;
  }
  #container {
    max-width: 770px;
    height: fit-content;
  }
  #weekdays {  
    display: flex;
    color: #247BA0;
  }
  #weekdays div {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 12.2%;
    padding: 10px;
    /* height: 100px; */
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 1%;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #e8faed;
  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #ec0303;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .eventDay{
    width: 12.2%;
    padding: 10px 5px;
    min-height: fit-content;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #ec0303;
    margin: 1%;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .empty {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  #newEventPopup, #deleteEventPopup, #volunteerEventPopup, #popup {
    display: none;
    z-index: 20;
    padding: 5%;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width:  calc(200px + 0.5vw);
    top: 100px;
    /* left: calc(50% - 175px); */
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton, #volCancelButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton, #closePopButton {
    background-color: #819df7;
  }
  #volunteerButton {
    background-color: #3b794d;
  }
  #eventText, #evText {
    font-size: 14px;
  }
  #popupShadow{
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }
