body {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  background-color: #FFFCFF;
  }
  #title-img {
    width: calc(320px + 0.390625vw);
    max-height: 120px;
    display: flex;
    max-width: 560px;
    margin-top: 0;
    position: absolute;
    top: 0;
}

p{
  margin-top: 50px;
  display: block;
  padding: 10px;
}
  button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgb(128, 128, 128);
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  
  #header {
    padding: 10px;
    color: #6e04a3;
    font-size: calc(15px + 0.5vw);
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:#d9b8e8;
  }
  #container {
    max-width: 770px;
    height: fit-content;
  }
  #weekdays {  
    display: flex;
    color: #247BA0;
  }
  #weekdays div {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 12.2%;
    padding: 10px;
    /* height: 100px; */
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 1%;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #e8faed;
  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #ec0303;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .eventDay{
    width: 12.2%;
    padding: 10px 5px;
    min-height: fit-content;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #ec0303;
    margin: 1%;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .empty {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  #newEventPopup, #deleteEventPopup {
    display: none;
    z-index: 20;
    padding: 5%;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width:  calc(200px + 0.5vw);
    top: 100px;
    /* left: calc(50% - 175px); */
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #popupDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }
