body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.item {
    width: 480px;
    display: flex;
    flex-direction: column;

    border: solid #247BA0;
    padding: 15px;
    border-radius: 5px;
    margin: 15px;

}

.item > h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #247BA0;
    
}

.user{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

.user > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.user > p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #247BA0;
}

.item > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*  CSS for create new item   */
.post-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .post-popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  